.logo-footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  img {
    display: block;
    width: 280px;
    height: 68px;

    @media (min-width: $screen-md) {
      width: 235px;
      height: 57px;
    }

    @media (min-width: $screen-xl) {
      width: 428px;
      height: 103px;
    }
  }

  $block-name:                &; // #{$block-name}__element

}
