.tracking-form {
  margin-bottom: 40px;

  @media (min-width: $screen-md) {
    margin-bottom: 50px;
  }

  @media (min-width: $screen-xl) {
    margin-bottom: 0;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__call {
    margin-top: 0;
    font-family: $font-family--headings;

    @media (min-width: $screen-xl) {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  &__form-wrapper {
  }

  &__form {

  }

  &__input-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $shadow;

    input {
      width: calc(100% - 130px);
      padding: 10px 15px;
      font-size: 16px;
      font-weight: 500;
      font-family: $font-family--headings;
      text-align: center;
      text-transform: uppercase;
      color: $main-color;
      border: none;

      &:focus {
        outline-color: $main-color;
      }

      &::-webkit-input-placeholder {
        font-weight: 400;
        color: $text-color;
      }

      &:-moz-placeholder {
        font-weight: 400;
        color: $text-color;
      }

      @media (min-width: $screen-xl) {
        width: calc(100% - 180px);
        font-size: 20px;
      }
    }

/*     input::-webkit-input-placeholder {
  font-weight: 400;
  color: $text-color;
}

input:-moz-placeholder {
  font-weight: 400;
  color: $text-color;
} */

    .btn {
      @media (min-width: $screen-xl) {
        width: 180px;
      }
    }

    @media (min-width: $screen-md) {
      margin-bottom: 50px;
    }
  }

  &__error-info {
    display: none;

    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.3em;
    color: $error-color;
    overflow: hidden;

    @media (min-width: $screen-md) {
      min-height: 50px;
      margin-bottom: 50px;
      font-size: 14px;
    }

    &.active {
      display: block;
    }
  }
}
