@keyframes carOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0.1;
  }
}

@keyframes carOutMedium {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    transform: translateX(-3000px);
    opacity: 0.1;
  }
}

@keyframes carOutLong {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    transform: translateX(-3000px);
    opacity: 0.1;
  }
}

.animation {
  animation: carOut 1s ease-in 1 both;

  @media (min-width: $screen-md) {
    animation: carOutMedium 1.3s ease-in 1 both;
  }

  @media (min-width: $screen-xl) {
    animation: carOutLong 1.5s ease-in 1 both;
  }
}
