.page-footer {

  .row {
    margin-left: -20px;
    margin-right: -20px;

    @media (min-width: $screen-md) {
      flex-direction: row-reverse;
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  @media (min-width: $screen-md) {
    background: linear-gradient(to right, $footer-color 50%, #2EB3EE 50%, #42C5FF 100%);
  }

  $block-name:                &; // #{$block-name}__element

  &__col-logo {
    @include col(xs, 12);
    @include col(md, 5);
    padding: 0 20px;
    background: linear-gradient(108.84deg, #2EB3EE 0%, #42C5FF 100%);

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: center;
      align-items: center;
      //background: linear-gradient(to right, #2EB3EE, transparent);
      background: linear-gradient(to right, #2EB3EE, transparent);
    }
  }

  &__col-contacts {
    @include col(xs, 12);
    @include col(md, 7);
    @include col-offset(xl, 1);
    @include col(xl, 6);
    padding: 0 20px;
    color: $white;
    background-color: $footer-color;
  }
}
